h1 {
  color: red;
}


#cache-status {
  text-align: center;
  align-items: center;
  color: blue;
  display: static;
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:#999;
}